.producto-card{
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #EBECEE;
    color: black;
    text-decoration: none;

    .imagen{
        padding: 10px;
        display: flex;
        width: 30%;
        @media screen and (min-width: 768px) {
            width: 160px;
          }

        img{
            width: 100%;
            border-radius: 4px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }
    }

    .contenido{
        width: 70%;
        padding: 0 15px;
        box-sizing: border-box;
        @media screen and (min-width: 768px) {
            width: calc(80% - 200px);
        }
        .precio{
            display: inline-block;
            min-width: 150px;
            min-height: 30px;
            font-size: 1.5em;
            margin-bottom: 0px;
            margin-top: 1.2em;
            display: flex;
            align-items: center;
        }

        .free-shipping{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgb(20,158,78);
            margin: 0 10px;
        }

        .titulo{
            width: 100%;
            min-height: 60px;
            font-size: 1.1em;
            margin-top: 10px;
            @media screen and (min-width: 1024) {
                width: 70%;
            }
        }
    }

    .lugar{
        display: none;
        width: calc(20%);
        text-align: center;
        padding-top: 30px;
        font-size: 0.7em;
        color: gray;
        @media screen and (min-width: 768px) {
            display: block;
        }

        p{
            min-height: 20px;
        }
    }
}
.no-pointer{
    cursor: default;
}

